name: Syntax Tests
# https://github.com/sublimetext/syntax-test-action

on:
  push:
    paths:
      - '.github/workflows/*'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'
  pull_request:
    paths:
      - '.github/workflows/*'
      - '**.sublime-syntax'
      - '**/syntax_test_*'
      - '**.tmPreferences'

jobs:
  main:
    name: Syntax Tests (${{ matrix.build }})
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      # fail-fast: false
      matrix:
        include:
          - build: 'latest'
            packages: 'false'
          - build: 'stable'
            packages: 'false'
          - build: 3156
            packages: 'false'
    steps:
      - uses: actions/checkout@v4
      - uses: SublimeText/syntax-test-action@v2
        with:
          build: ${{ matrix.build }}
          default_packages: ${{ matrix.packages }}
          package_name: 'Crontab'
          dummy_syntaxes: source.shell
